body {    
    display: flex;
    flex-direction: column;
    font-family: "Roboto", helvetica, sans-serif;
    margin: 0;
}

.section-one {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 100px 120px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
}

.header-logo {
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 25px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.img-placeholder {
    background-color: grey;
    padding: 70px 70px;
    flex: 0 0 auto;
}

.hero-main-txt {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
}

.header-secondary-txt {
    text-align: left;
    display: flex;
    white-space: nowrap;
    min-width: 200px;
    min-height: 200px;

}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
}

.section-two {
    color: #1F2937;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 20px;
}

.img-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.card-img {
    border: solid 4px #3882F6;
    background-color: #F9FAF8;
    height: 150px;
    width: 150px;
    margin: 10px 0px;
    border-radius: 20px;
}

.subtext {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 100px;
    width: 200px;
    margin: 0px 28px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    max-width: 900px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-author {
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 0px;
    padding-bottom: 100px;
    margin-right: 100px;
    align-self: flex-end;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10px;
}

.callbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 20px 80px;
    gap: 90px;
}

.container > .callheader {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: medium;
    margin-bottom: 0;
}

.container > .calltxt {
    color: #E5E7EB;
    font-size: small;
    margin-top: 2px;
}

.callbar > button {
    border: solid 2px #F9FAF8;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.section-five {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.footer > p {
    color: #E5E7EB;
}